<%- include("./header.html")%>
    <link rel="stylesheet" href="/stylesheets/web/about.css">
    <div class="app" id="app">
        <img class="block w100" :src="banner" v-if="banner" alt="">
        <div class="head text-center">
            <h2>关于SinQ</h2>
            <p class="info">
                <span>杭州思影奇数字科技有限公司（英文简称：SinQ）</span>
                <span>创立新型视频形态，以打造影视广告TVC和三维创意产品动画为核心，致力于打造视频领域一站式的全方位服务</span>
            </p>
            <div class="about-nav">
                <a href="javascript:" :class="{active:index == navIndex}" v-for="(item ,index) in nav" :key="index" @click="handleChangeNav($event,index)">{{item.txt}}</a>
            </div>
        </div>
        <div v-show="navIndex == 0">
            <div class="about-1">
                <h2 class="h21">公司介绍</h2>
                <p class="p1">
                    <span v-for="(item,index) in p1" :key="index">{{item}}</span>
                </p>
                <p class="p2">
                    <span v-for="(item,index) in p2" :key="index">{{item}}</span>
                </p>
                <h2 class="h22">核心产品与服务</h2>
                <span class="line"></span>
                <div class="imgs">
                    <div v-for="(item,index) in imgs" :key="index">
                        <div>
                            <img :src="'/images/web/about-'+(index+1)+'.png'" alt="">
                        </div>
                        <span>{{item}}</span>
                    </div>
                </div>
            </div>
            <div class="about-2">
                <div class="about-2-info">
                    <h2>发展历程</h2>
                    <span class="line"></span>
                </div>
            </div>
            <div class="about-3">
                <div class="person-box">
                    <div class="person" v-for="(item,index) in person" :key="index">
                        <img src="/images/web/code.png" alt="" v-if="index != 7">
                        <div class="text-center" v-else>
                            <h2>我们的团队</h2>
                            <a href="/app/joinwe">加入我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="navIndex == 1">
            <div class="culture-1 text-center">
                <h2>企业文化</h2>
                <p class="p1">
                    <span v-for="(item,index) in t1" :key="index">{{item}}</span>
                </p>
                <img class="banner-img" class="block w100" src="http://www.bitone.com/template/1/default/_files/cn/img/about/bannner.jpg" alt="">
                <p class="p1">
                    <span v-for="(item,index) in t1" :key="index">{{item}}</span>
                </p>
                <div class="culture-1-img">
                    <div class="culture-1-img-top">
                        <div :class="'culture-1-img-box culture-1-img-top-'+index" v-for="(item,index) in culture1" :key="index">
                            <img :src="item" alt="">
                        </div>
                    </div>
                    <div class="culture-1-img-bottom">
                        <div :class="'culture-1-img-box culture-1-img-bottom-'+index" v-for="(item,index) in culture2" :key="index">
                            <img :src="item" alt="">
                        </div>
                    </div>
                </div>
                <p class="p1">
                    <span v-for="(item,index) in t2" :key="index">{{item}}</span>
                </p>
            </div>
            <div class="culture-1">

            </div>
        </div>
    </div>
    <script src="/javascripts/web/about.js"></script>
    <%- include("./footer.html")%>