<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/admin-main.css">
    <link rel="stylesheet" href="/icon/iconfont.css">
    <link rel="stylesheet" href="/live2d/css/live2d.css" />
    <style>
        #live2d {
            position: absolute;
            bottom: 20px;
            left: 3px;
        }
        
        .message {
            position: absolute;
            left: 3px;
            bottom: 270px;
            top: auto;
            color: #fff;
        }
    </style>
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        var message_Path = '/live2d/'
        var home_Path = "http://localhost:3000/app/main" //此处修改为你的域名，必须带斜杠
    </script>
    <script src="/javascripts/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="head">
            <div>
                <img src="/images/web/loop.png" alt="">
            </div>
            <a class="btn" href="javascript:" @click="bindLogout">退出登录</a>
        </div>
        <div class="main">
            <div class="left">
                <ul class="nav-father-ul">
                    <li class="nav-father-li" v-for="(item,index) in nav" :key="index" @click.stop="bindNav($event,{index:index})">
                        <a :class="['nav-father-a',{'nav-father-a-active':activeClass == index}]" href="javascript:">
                            <i :class="['iconfont',item.icon]"></i>
                            <span>{{item.name}}</span>
                        </a>
                        <ul :class="['nav-child-ul',{'nav-child-show':item.isShow}]" :style="{'height':item.isShow?item.children.length*41+'px':0}" v-if="item.children">
                            <li class="nav-child-li" v-for="(i,j) in item.children" :key="j" @click.stop="bindSelectNav($event,{index:j,url:i.url})">
                                <a :class="['nav-child-a',{'nav-child-a-active':activeClass == index && activeChild == j }]" href="javascript:">
                                    <i :class="['iconfont',i.icon]"></i>
                                    <span>{{i.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="right">
                <iframe :src="`/ifram/${iframUrl}`" frameborder="0" width="100%" height="100%"></iframe>
            </div>
            <div class="message" style="opacity:0"></div>
            <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
            <!-- <div class="hide-button">隐藏</div> -->
        </div>
    </div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            nav: [{
                icon: "icon-set",
                name: "第一个导航",
                children: [{
                    icon: "icon-set",
                    name: "第一个子导航1",
                    url: "1_1.html"
                }, {
                    icon: "icon-set",
                    name: "第一个子导航2",
                    url: "1_2.html"
                }],
                isShow: false
            }, {
                icon: "icon-form",
                name: "作品/新闻",
                children: [{
                    icon: "icon-form",
                    name: "作品",
                    url: "2_1.html"
                }, {
                    icon: "icon-compass",
                    name: "新闻",
                    url: "2_2.html"
                }],
                isShow: false
            }, {
                icon: "icon-set",
                name: "配置项设置",
                children: [{
                    icon: "icon-set",
                    name: "基本配置",
                    url: "3_1.html"
                }],
            }, {
                icon: "icon-comments",
                name: "信息",
                children: [{
                    icon: "icon-comments",
                    name: "信息列表",
                    url: "4_1.html"
                }]
            }],
            activeClass: 0,
            activeChild: 0,
            // ifram
            iframUrl: "0_0.html"
        },
        computed: {

        },
        mounted() {
            this.activeClass = localStorage.getItem("n1")
            this.activeChild = localStorage.getItem("n2")
            this.iframUrl = localStorage.getItem("url") || "0_0.html"
            if (this.activeClass != -1) {
                this.nav[this.activeClass].isShow = JSON.parse(localStorage.getItem("show"))
            }
        },
        methods: {
            bindNav(event, db) {
                console.log(event)
                localStorage.setItem("n1", db.index)
                this.activeClass = db.index;
                this.activeChild = 0;
                let init;
                for (let i in this.nav) {
                    if (i == db.index) {
                        if (this.nav[db.index].children) {
                            this.nav[db.index].isShow = !this.nav[db.index].isShow
                            localStorage.setItem("show", this.nav[db.index].isShow)
                            if (this.nav[db.index].isShow) {
                                this.iframUrl = this.nav[db.index].children[0].url;
                                localStorage.setItem("url", this.iframUrl)
                            } else {
                                this.iframUrl = "0_0.html";
                                this.activeClass = -1;
                                localStorage.setItem("n2", 0)
                                localStorage.setItem("url", this.iframUrl)
                            }
                        }
                    } else {
                        this.nav[i].isShow = false;
                        localStorage.setItem("n2", 0)
                    }
                    if (this.nav[i].isShow) {
                        init = true;
                    } else {
                        if (!init) {
                            init = false;
                        }
                    }
                }
                if (!init) {
                    localStorage.setItem("n1", -1)
                }
            },
            bindSelectNav(event, db) {
                localStorage.setItem("n2", db.index)
                localStorage.setItem("url", db.url)
                this.activeChild = db.index;
                this.iframUrl = db.url;
            },
            bindLogout() {
                $.ajax({
                    url: "/app/logout",
                    success() {
                        window.location.href = "/app/admin"
                    }
                })
            }
        }
    })
</script>
<!-- <script type="text/javascript" src="/live2d/js/live2d.js"></script>
<script type="text/javascript" src="/live2d/js/message.js"></script>
<script type="text/javascript">
    loadlive2d("live2d", "/live2d/model/tia/model.json");
</script> -->

</html>