<%- include("header.html")%>
    <link rel="stylesheet" href="/stylesheets/web/news-list.css">
    <div id="scss">
        <link v-if="isPhone" rel="stylesheet" href="/stylesheets/phone/news-list.css">
    </div>
    <div id="app">
        <!-- <div class="init">
            <h2>公司动态</h2>
        </div>
        <div class="option">
            <div class="all">
                <a href="/">全部</a>
            </div>
            <div class="year">
                <a href="javascript:">
                    <span>年份</span>
                    <i class="iconfont icon-jiantouxia"></i>
                </a>
                <input type="checkbox" class="select" title="点击选择">
                <ul>
                    <li v-for="(item,index) in year" :key="index">{{item}}</li>
                </ul>
            </div>
            <div class="else">
                <a href="/">媒体</a>
            </div>
            <div class="else">
                <a href="/">内部</a>
            </div>
            <div class="else">
                <a href="/">专业</a>
            </div>
        </div>
        <div class="news">
            <a class="new" :href="'/app/news/'+item._id" v-for="(item,index) in list" :key="index" target="_blank">
                <img class="block w100" :src="item.cover" alt="">
                <div>
                    <h2 class="title text-hide-1">{{item.title}}</h2>
                    <time class="time">{{item.createtime.replace(/(T).+/g,'')}}</time>
                    <div class="txt text-hide-2" v-html="item.cont">{{item.cont}}</div>
                    <span>SHOW NEW</span>
                </div>
            </a>
            <div class="text-center">
                <a class="ajax-more" href="javascript:">加载更多</a>
            </div>
        </div> -->
    </div>
    <script src="/javascripts/web/news-list.js"></script>
    <script src="/build/react-news.js"></script>
    <%- include("footer.html")%>