<%- include("header.html")%>
    <link rel="stylesheet" href="/stylesheets/web/work-info.css">
    <div id="app">
        <div class="video-boxs">
            <div class="in-video" v-if="!isSwitch">
                <video :src="item" controls v-for="(item,index) in video" :key="index"></video>
            </div>
            <div class="out-video" v-if="isSwitch">
                <div class="out-video-item" v-for="(item,index) in outVideo" :key="index" v-html="item"></div>
            </div>
        </div>
        <div class="edit-box">
            <h2>{{title}}</h2>
            <div class="info flex flex-mid flex-center-1">
                <time>发布时间：{{time.replace(/(T).*/g,'')}}</time>
                <span v-if="type">类型：{{typeArr[type-1].text}}</span>
            </div>
            <div class="cont"></div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                nav: set_config.header,
                title: "",
                time: "",
                cont: "",
                type: "",
                typeArr: "",
                video: "",
                outVideo: "",
                isSwitch: false
            },
            mounted() {
                this.typeArr = set_config.work_type;
                let url = window.location.href.replace(/.+\//g, "");
                $.ajax({
                    url: "/app/project/edit",
                    type: "GET",
                    data: {
                        id: url
                    },
                    success: (res) => {
                        let db = res.data;
                        this.title = db.title;
                        this.time = db.createtime;
                        this.isSwitch = db.isSwitch;
                        this.video = db.video ? [...db.video.split(",")] : [];
                        this.outVideo = db.outVideo ? [...db.outVideo.split(",")] : [];
                        this.type = db.type;
                        $(db.cont).appendTo($(".cont"));
                        this.handleSetContStyle();
                        setTimeout(() => {
                            this.handleSetHeadStyle();
                        }, 300);
                    }
                })

            },
            methods: {
                handleSetHeadStyle() {
                    if (this.isSwitch) {
                        let margin = this.outVideo.length == 1 ? 0 : (this.outVideo.length - 1) * 12;
                        let w = 1200 / this.outVideo.length - margin;
                        let h = w / 3 * 2;
                        $(".out-video-item").css({
                            'width': w + 'px',
                            'height': h + 'px'
                        })
                        $(".video-boxs embed").css({
                            'width': w + 'px',
                            'height': h + 'px'
                        })
                    }
                },
                handleSetContStyle() {
                    $(".cont embed").css({
                        'width': '1200px',
                        'height': '600px'
                    })
                }
            },
        })
    </script>
    <%- include("footer.html")%>