.tqr-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 12px 0 48px;
    font-size: 14px;
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.8);
    z-index: 999;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition-duration: 600ms;
    box-shadow: 0 3px 18px rgba(0, 0, 0, .3);
}

.tqr-header.active {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, -40);
}


/* logo 图片 */

.tqr-logo {
    width: 30%;
}

.tqr-logo img {
    height: 40px;
}


/* 导航条 */

.tqr-nav-box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 99;
}

.tqr-nav-box * {
    cursor: pointer;
}


/* 手机端 唤出导航条按钮 */

.tqr-nav-phone {
    display: none;
}


/* 导航条 列表 */

.tqr-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}

.tqr-nav-list-show {
    opacity: 1 !important;
    pointer-events: auto !important;
    left: 0 !important;
}


/* 单一的导航条 */

.tqr-nav-item {
    position: relative;
    flex-grow: 1;
}

.tqr-nav-item::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #dedede;
    transition-duration: 600ms;
}


/* 导航条文字 */

.tqr-nav-item-txt {
    display: block;
    width: 100%;
    padding: 12px 24px;
    color: #fff;
    transition-duration: 600ms;
}


/* 子导航条 */

.tqr-nav-item-list {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    pointer-events: none;
    transform: matrix(1, 0, 0, 1, 20, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 0 6px;
    transition-duration: 600ms;
}


/* 导航条唤出子类按钮 */

.tqr-nav-item-check {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.tqr-nav-item-check:checked+.tqr-nav-item-list {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    pointer-events: auto;
}


/* 自定义 */

.tqr-nav-item-txt {
    line-height: 70px;
    padding: 0;
}

.tqr-nav-child {
    display: block;
    padding: 12px 0;
    color: #888;
    transition-duration: 600ms;
}

.tqr-nav-item:hover .tqr-nav-item-list {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    pointer-events: auto;
}

.tqr-nav-item:hover::after {
    width: 100%;
}

.tqr-nav-item:hover .tqr-nav-item-txt {
    color: #888;
}

.tqr-nav-child:hover {
    color: #fff;
}


/* 自定义样式 */