<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html,body{
            height: 100%;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
        img {
            opacity: 0;
        }
    </style>
</head>
<body>
    <div class="app">
        <img src="/upload/1.jpeg" alt="">
        <canvas class="can"></canvas>
    </div>
</body>
<script>
let gimg = new Image();
gimg.onload = function(file){
    let res = file.path[0];
    let w = res.width, h = res.height;
    init(w,h)
}
gimg.src = "/upload/1.jpeg";
let can = document.querySelector("canvas");
let ctx = can.getContext("2d");
let _w, _h, initImg;


function init(imgW,imgH){
    let img = document.querySelector("img");
    let W = window.screen.width;
    let H = window.screen.height;
    let w = null, h = null;
    if(imgW > W){
        img.style.width = W+'px';
    }else{
        if(imgH > H){
            img.style.width = H+'px';
        }
    }
    canvas()
}

function canvas(){
    let el = document.querySelector("img");
    _w = el.clientWidth;
    _h = el.clientHeight;
    can.width = _w;
    can.height = _h;
    ctx.drawImage(gimg,0,0,_w,_h)
    getColor()
    putColor()
    new Heart(ctx, _w/2, _h/2, 1)
}

function getColor(){
    var length = _w * _h;
    initImg = ctx.getImageData(0, 0, _w, _h);
    gimg = ctx.getImageData(0, 0, _w, _h);
    let love = [];
    for (var i = 0; i < length * 4; i += 4) {
        var myRed = gimg.data[i];
        var myGreen = gimg.data[i + 1];
        var myBlue = gimg.data[i + 2];
        myGray = parseInt((myRed + myGreen + myBlue) / 3);
        gimg.data[i] = myGray;
        gimg.data[i + 1] = myGray;
        gimg.data[i + 2] = myGray;
    }
}
function putColor() {
   ctx.putImageData(gimg, 0, 0);
}
function setColor(){
    ctx.putImageData(initImg, 0, 0);
}
pic = document.querySelector("img");
var Heart = function(ctx, x, y, a) {
    this.ctx = ctx;
    this.x = x;
    this.y = y;
    this.a = a;
    
    this.vertices = [];
    this.sub()
}
Heart.prototype.sub = function(){
    this.draw();
}
Heart.prototype.draw = function() {
    radian = 0,
    radian_add = Math.PI/40;
    ctx.translate(_w/2,_h/2-100);
    function ad(){
        X = getX1(radian);
        Y = getY1(radian);
        ctx.drawImage(pic,X,Y,20,20);   //在给定坐标绘制给定大小的图片
        radian+=radian_add;
        if (radian > (2*Math.PI)){ //绘制完整的心型线后取消间歇调用 
            clearInterval(intervalId);
            setColor()
        }
    }
    intervalId = setInterval(ad,60);
    ctx.fillStyle = "red";
    ctx.fill();
};
function getX1(t){  //获取心型线的X坐标
    return 15*(8*Math.pow(Math.sin(t),3))
}

function getY1(t){  //获取心型线的Y坐标
    return -10*(10*Math.cos(t)-5*Math.cos(2*t)-2*Math.cos(3*t)-Math.cos(4*t))
}
</script>
</html>