<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>wk</title>
    <link href=/static/css/app.fe23cec52e341f146dd937494dd0ac19.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js> </script> <script type=text/javascript
        src=/static/js/vendor.0bc845b22646406940e5.js> </script> <script type=text/javascript
        src=/static/js/app.7f2e2cc09da8eb237222.js> </script> </body> </html>