<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <iframe src="https://mp.weixin.qq.com/mp/homepage?__biz=MzUxNDkyMDc4OQ==&hid=20&sn=14af91a8cd94ba35fbdecc1ea75208ac&devicetype=Windows+10&version=62060833&lang=zh_CN&nettype=3G+&ascene=1&wx_header=1&scene=1&from=groupmessage&isappinstalled=0&fontScale=100&uin=&key=&winzoom=1" frameborder="0"></iframe> -->
</body>
<script>
window.open("https://mp.weixin.qq.com/mp/homepage?__biz=MzUxNDkyMDc4OQ==&hid=20&sn=14af91a8cd94ba35fbdecc1ea75208ac&devicetype=Windows+10&version=62060833&lang=zh_CN&nettype=3G+&ascene=1&wx_header=1&scene=1&from=groupmessage&isappinstalled=0&fontScale=100&uin=&key=&winzoom=1")
</script>
</html>