<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D</title>
    <link rel="stylesheet" href="/h5/smq1/index.css">
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="app">
        <div class="btn">
            <!-- <img class="bg" src="/h5/smq1/bg.png" alt="">
            <p class="a">
                <img class="bt" src="/h5/smq1/btn.png" alt="">
            </p>
        </div>
        <div class="video-box">
            <video class="video" src="http://www.hzsinq.com/h5/1.mp4"></video>
        </div> -->
    </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script>
    //wx2df0a9fe18f3cb02 fb964c9eeaa0895370ddeef2e59fb9d7

$.ajax({
    url:"/app/wx/token",
    type:"GET",
    success:(res)=>{
        wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: res.appId, // 必填，公众号的唯一标识
            timestamp: res.timestamp, // 必填，生成签名的时间戳
            nonceStr: res.nonceStr, // 必填，生成签名的随机串
            signature: res.signature,// 必填，签名
            jsApiList: [
                ''
            ] // 必填，需要使用的JS接口列表
        });
        wx.ready(function(){
            wx.updateAppMessageShareData({
                title: '分享练习', // 分享标题
                desc: '第一次分享', // 分享描述
                link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://www.bitone.com/template/1/default/_files/cn/img/our/img3.jpg', // 分享图标
                success: function () {
                // 设置成功
                }
            })
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        });
    }
})
$(function(){
    videoAuto()
    function videoAuto(){
        var video = document.querySelector(".video");
        $(".a").on("click",function(){
            $(".btn").addClass("active");
            $(".video-box").addClass("active");
            video.play();
        })
        $(".video").on("click",function(){
            if (video.paused == true) {
                video.play();
                // this.classList.add("icon-pause");
                // this.classList.remove("icon-play");
            } else {
                video.pause();
                // this.classList.remove("icon-pause");
                // this.classList.add("icon-play");
            }
        })
        
    }
})
</script>
</html>