<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><title>在杭州 六大万科中心</title><link rel="preload" as="video" href="/static/img/init.mp4?09011136"><link rel="preload" as="audio" href="/static/img/bg.mp3?09011136"><link rel="preload" as="image" href="/static/img/loading/loading-bg.jpg"><link rel="preload" as="image" href="/static/img/loading/icon-finger.png"><link rel="preload" as="image" href="/static/img/loading/light.png"><script>;(function() {
        var list = [
          '/static/img/loading/loading-bg.jpg',
          "/static/img/loading/icon-finger.png",
          "/static/img/loading/light.png",
          `/static/img/init.mp4?09011136`,
          `/static/img/bg.mp3?09011136`
        ]
        list.forEach(function(val) {
          var targetType
          if (/\.mp4$/.test(val)) {
            targetType = "video"
          } else if (/\.mp3$/.test(val)) {
            targetType = "audio"
          } else {
            targetType = "img"
          }
          var target = document.createElement(targetType)
          target.src = val
        })
      })()</script><link href="/static/css/app.46b38982847068296f5a3b9a20bb8726.css" rel="stylesheet"></head><body><script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script><script>;(function() {
        var xhr = new XMLHttpRequest()
        xhr.open("GET", "/app/wx/token", true)
        xhr.onload = function() {
          if (xhr.status === 200) {
            var res = JSON.parse(xhr.responseText)
            wx.config({
              // debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
              appId: res.appId, // 必填，公众号的唯一标识
              timestamp: res.timestamp, // 必填，生成签名的时间戳
              nonceStr: res.nonceStr, // 必填，生成签名的随机串
              signature: res.signature, // 必填，签名
              jsApiList: [
                "updateAppMessageShareData",
                "updateTimelineShareData",
                "onMenuShareAppMessage",
                "onMenuShareTimeline"
              ] // 必填，需要使用的JS接口列表
            })

            wx.ready(function() {
              wx.checkJsApi({
                jsApiList: ["updateAppMessageShareData"], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                success: function(res) {
                  // 以键值对的形式返回，可用的api值true，不可用为false
                  // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                  if (res.checkResult.updateAppMessageShareData) {
                    wx.updateAppMessageShareData({
                      title: "在杭州 六大万科中心", // 分享标题
                      desc: "办公选址、写字楼定制、资产配置，怎么选？", // 分享描述
                      link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                      imgUrl: `http://www.ojoojooo.com/static/img/share-thump.png`, // 分享图标
                      success: function() {
                        // 设置成功
                        console.log("wx.updateAppMessageShareData 设置成功")
                      }
                    })
                  } else {
                    wx.onMenuShareAppMessage({
                      title: "在杭州 六大万科中心", // 分享标题
                      desc: "办公选址、写字楼定制、资产配置，怎么选？", // 分享描述
                      link: location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                      imgUrl: `http://www.ojoojooo.com/static/img/share-thump.png`, // 分享图标
                      type: "link", // 分享类型,music、video或link，不填默认为link
                      dataUrl: "", // 如果type是music或video，则要提供数据链接，默认为空
                      success: function(res) {
                        // 用户点击了分享后执行的回调函数
                        console.log("wx.onMenuShareAppMessage 设置成功")
                      },
                      fail: function(res) {}
                    })
                  }
                }
              })
              wx.checkJsApi({
                jsApiList: ["updateTimelineShareData"], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                success: function(res) {
                  // 以键值对的形式返回，可用的api值true，不可用为false
                  // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                  if (res.checkResult.updateTimelineShareData) {
                    wx.updateTimelineShareData({
                      title: "在杭州 六大万科中心", // 分享标题
                      desc: "办公选址、写字楼定制、资产配置，怎么选？", // 分享描述
                      link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                      imgUrl: `http://www.ojoojooo.com/static/img/share-thump.png`, // 分享图标
                      success: function() {
                        // 设置成功
                        console.log("wx.updateTimelineShareData 设置成功")
                      }
                    })
                  } else {
                    wx.onMenuShareTimeline({
                      title: "在杭州 六大万科中心", // 分享标题
                      desc: "办公选址、写字楼定制、资产配置，怎么选？", // 分享描述
                      link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                      imgUrl: `http://www.ojoojooo.com/static/img/share-thump.png`, // 分
                      success: function(res) {
                        // 用户点击了分享后执行的回调函数
                        // el.text("2")
                        console.log("wx.onMenuShareTimeline 设置成功")
                      },
                      fail: function(res) {}
                    })
                  }
                }
              })

              // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            })

            wx.error(function(res) {
              // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
              console.log("wx.config 失败", res)
            })
          } else {
            console.error(new Error(xhr.statusText))
          }
        }
        xhr.onerror = function() {
          console.error(new Error(xhr.statusText))
        }
        xhr.send()
        // var wxScript = document.createElement("script")
        // wxScript.onload = function() {
        // }
        // wxScript.src = "http://res.wx.qq.com/open/js/jweixin-1.4.0.js"
        // document.body.appendChild(wxScript)
      })()</script><div id="app"></div><script type="text/javascript" src="/static/js/manifest.2ae2e69a05c33dfc65f8.js"></script><script type="text/javascript" src="/static/js/vendor.7276fdaf2392cbc2f34a.js"></script><script type="text/javascript" src="/static/js/app.f1c46e3b0222365a614e.js"></script></body></html>