.tqr-header {
    padding: .2rem .4rem;
    background-color: #000;
}

.tqr-logo img {
    height: .7rem;
}

.tqr-nav-phone {
    display: block;
    font-size: .6rem;
    color: #fff;
}

.tqr-nav-item-txt {
    line-height: 1;
    font-size: .34rem;
    padding: .4rem 0;
}

.tqr-nav-child {
    font-size: .3rem;
    padding: .2rem 0;
}

.tqr-nav-box {
    flex-grow: 0;
}

.tqr-nav-list {
    position: absolute;
    top: 100%;
    left: 2rem;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 1);
    border-top: .04rem #fff solid;
    transition-duration: 300ms;
}

.tqr-nav-item-list {
    position: relative;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-color: #fff;
    height: 0;
}

.tqr-nav-list-show .tqr-nav-item-check {
    pointer-events: auto;
}

.tqr-nav-item {
    width: 100%;
    background-color: #000;
}


/* child */

.tqr-nav-item:nth-child(1) .tqr-nav-item-check:checked+.tqr-nav-item-list {
    height: 2.43rem;
}

.tqr-nav-item:nth-child(2) .tqr-nav-item-check:checked+.tqr-nav-item-list {
    height: .8rem;
}

.tqr-nav-item:nth-child(4) .tqr-nav-item-check:checked+.tqr-nav-item-list {
    height: 1.615rem;
}

.tqr-nav-item:nth-child(5) .tqr-nav-item-check:checked+.tqr-nav-item-list {
    height: .8rem;
}

.about-me {
    display: none;
}

.foot {
    padding: .4rem !important;
}